@import "tailwindcss";

@theme {
  --color-paradex-bg: #000000;
  --color-paradex-primary: #22d3ee;
  --color-paradex-accent: #67e8f9;
  --font-sans: 'Inter', sans-serif;
}

body {
  /* background-color: var(--color-paradex-bg); */
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-sans);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}