@import "tailwindcss";

@theme {
  --color-paradex-bg: #120f29;
  --color-paradex-primary: #8b5cf6;
  --color-paradex-accent: #c084fc;
  --font-sans: 'Inter', sans-serif;
}

body {
  background-color: var(--color-paradex-bg);
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--font-sans);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #120f29;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}